*{
	margin:0px;
	padding:0px;
}

body{
	font-family:'Montserrat', sans-serif;
}
#evento-lista{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

.evento-item{
	width:30%;
	list-style-type:none;
	height:5em;
	margin-top:1em;
	padding:1em;
	background-color:rgba(0,0,0,0.5);
	border-radius:10px;
}

label{
	display:inline-block;
	width:15em;
	margin-bottom:1em;
}

input{
	width:20em;
}

															/***	Menu superior	***/
#menu-div{	
	position:relative;
	top:0px;
	right:0px;
	/*
	margin:auto;	
	width:100%;
	*/
	
	background-color:#9f9f9f;
	
}

.nav{
	list-style:none;
	
	display:flex;
	justify-content:flex-end;
	

}

.nav > li{

}

.nav li a {
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding:1em 2em;
	display:block;
}

.nav li a:hover {
	background-color:#434343;
}

/* Submenu */

.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
	list-style:none;
}

.nav li:hover > ul {
	display:block;
}

.nav li ul li {
	position:relative;
}

.nav li ul li ul {
	right:-140px;
	top:0px;
}
