*{
	margin:0px;
	padding:0px;
}

body{
	font-family:'Montserrat', sans-serif;
	background-color:#5f6499;
}
#evento-lista{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

.evento-item{
	width:30%;
	list-style-type:none;
	height:5em;
	margin-top:1em;
	padding:1em;
	background-color:rgba(0,0,0,0.5);
	border-radius:10px;
}

label{
	display:inline-block;
	width:15em;
	margin-bottom:1em;
}

input{
	width:20em;
}

															/***	Clases para usar en varios sitios	***/
															
.seccion-info{	
	border: black 2px solid;
	border-radius:25px;
	padding:.5em;
	margin-left:1em;
	margin-right:1em;
	margin-bottom:2em;
	background-color:white;	
}

.seccion-info-innerdiv{
	width:90%;
	margin:0 auto;
	padding:1em 2em 1em 2em;
	background-color:#ced2fc;
	border:black 1px solid;
	border-radius:25px;	
}

.seccion-cabecera-numero{
	width:2em;
	height:2em;
	border-radius:50%;
	border:black 1px solid;
	
	display:flex;
	justify-content:center;
	align-items:center;
	
	background-color:#5f6499;
	
	margin-right:.5em;
	
}

.seccion-cabecera-linea{
	display:flex;
	align-items:center;
	margin-top:1em;
	margin-bottom:1em;
}
															
.seccion-footer{
	width:100%;	
	margin-top:2em;
	margin-bottom:1em;
	text-align:center;
}

.boton{
	background-color:#5f6499;
	color:black;
	font-size:1em;
	line-height:2em;
	border:black 1px solid;
	border-radius:20px;
	width:20em;
	
}

															/***	Menu superior	***/
#menu-div{	
	position:relative;
	top:0px;
	right:0px;
	/*
	margin:auto;	
	width:100%;
	*/
	
	background-color:#000000;
	color:white;
	
	display:flex;
	justify-content:space-between;
	align-content:center;
	
}

#logo{
	font-size:2em;
	margin-left:1em;
	margin-top:5px;
	font-weight:bold;
	letter-spacing:.05em;
}

.nav{
	list-style:none;
	
	display:flex;
	justify-content:flex-end;
	

}

.nav > li{

}

.nav li a {
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding:1em 2em;
	display:block;
	
	font-size:1em;
	font-weight:bold;
}

.nav li a:hover {
	background-color:#434343;
}

/* Submenu */

.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
	list-style:none;
}

.nav li:hover > ul {
	display:block;
}

.nav li ul li {
	position:relative;
}

.nav li ul li ul {
	right:-140px;
	top:0px;
}


						/***********************  GESTION DE EVENTOS  *********************/

#mainContent{
	float:left;
	width:80%;
	
	background-color:#ced2fc;
	/*padding-left:.5em;
	padding-right:.5em;*/
	margin-top:1em;
}
											/***	Menu lateral	***/
#evento-menu-gestion{
	float:left;
	width:20%;
}

#evento-menu-gestion ul{
	margin-top:1em;
		
}

#evento-menu-gestion li{
	background-color:#ced2fc;
	line-height:1em;
	border-bottom:#5a65a7 1px solid;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
}

#evento-menu-gestion li > a{
	display:block;
	padding:1em;
	
	text-decoration:none;	
	color:black;
}
											/***	Panel de control	***/
											/***		Header			***/
#evento-panelcontrol-top-div{
	width:100%;
	
	margin-top:1em;
	margin-bottom:1em;
	
	display:flex;
	justify-content:space-between;
	
}

.evento-panelcontrol-top-item{
	width:30%;
	display:flex;
}

.evento-panelcontrol-top-icon{
	font-size:2em;
	margin-left:.5em;
	margin-right:.5em;
}

.evento-panelcontrol-top-item > div{
	width:100%;	
}

.evento-panelcontrol-top-item p{
	color:grey;
	font-size:.8em;
	padding-top:5px;
	padding-bottom:10px;
}

.progressBarBG{
	width:85%;
	line-height:10px;
	background-color:black;
	min-height:1em;
	border-radius:10px;
}

.progressBarProgress{
	width:50%;
	background-color:green;
	min-height:1em;
	border-radius:10px;
}

											/***	Panel de control	***/
										/***		Editar - Detalles 		***/
											
#evento-editar-div{
	padding:1.5em;
}

#seccion-editar-evento-tipos{
	margin-top:2em;
	margin-bottom:2em;
}

#seccion-editar-evento-detalle form{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
											/***	Panel de control	***/
									/***		Editar - Tipos de entrada 		***/
#seccion-editar-evento-tipos{
	
}
								
#seccion-editar-evento-tipos li{
	list-style:none;
	background-color:black;
	color:white;
	padding:1em;
	
	display:flex;
	justify-content:space-between;
	align-items:center;
	
}		

#seccion-editar-evento-tipos a{
	color:white;
}